


<h1><%= @the_user.username %></h1>


<dl>
  <dt>ID</dt>
  <dd><%= @the_user.id %></dd>
  <dd><%= @the_user.private %></dd>
 <dt>Followers</dt>
  <dd><%= @the_user.followers.count %></dd> 
   <dt>following</dt>
  <dd><%= @the_user.leaders.count %></dd>

 <% @the_user.fssss.each do |a_f|%>
     <%= a_f.username %>
     <% end %>
  Pending follow requests


  <dd>

<%# current_user_follow = FollowRequest.where({:recipient_id => @the_user.id , :sender_id => session.fetch(:user_id)})%>
<%# the_follow = current_user_follow.at(0)%>

  <% if session.fetch(:user_id) != @the_user.id%>

    <%# if (session.fetch(:user_id) != @the_user.id) && (the_follow.status =="accepted") %>
  <a href="/delete_follow_request/<%#= the_follow.id%>">
  Unfollow
  </a>
    <%# end %>
    <form action="/insert_follow_request" method="post">
 
      <input type="hidden" name="query_recipient_id"  value="<%= @the_user.id %>">
      <input type="hidden" name="query_sender_id"  value="<%= session.fetch(:user_id) %>">

      <button>Follow</button>
    </form>

  <% end %>

  </dd>




<% if @the_user == @current_user%>
  <dt>Edit user</dt>
  <dd>
    <form action="/update_user/<%= @the_user.username %>" >
      <label for="browser_username">Username</label>
      <input id="browser_username" type="text" name="input_username" placeholder="Enter a username..." value="<%= @the_user.username %>">

      <button>Update user</button>
    </form>
  </dd>

  <% end %>
</dl>

<h2>Own photos (<%= @the_user.photos.size %>)</h2>


  <nav>
  <ul>  
  <li><a href="/users/<%= @the_user.username %>">Profile</a></li>
  <li><a href="/users/<%= @the_user.username %>/liked_photos">Liked photos</a></li>
  <li><a href="/users/<%= @the_user.username %>/feed">Feed</a></li>
  <li><a href="/users/<%= @the_user.username %>/discover">Discover</a></li>
  </ul>  

</nav>

<table border="1">
  <tr>
    <th>
      Image
    </th>

    <th>
      Owner
    </th>

    <th>
      Caption
    </th>

    <th>
      Posted
    </th>

    <th></th>
  </tr>



<% @the_user.photos.each do |a_photo|%>
    <tr>
    <td>
    <img src="<%= a_photo.image %>">
      
    </td>

    <td>
      <%#= User.where({ :id => a_photo.owner_id }).at(0).username %>
      <%= a_photo.owner.username %>

    </td>

    <td>
      <%= a_photo.caption %>
    </td>

    <td>
      <%#= a_photo.created_at %>
      <%= time_ago_in_words(a_photo.created_at) %> ago
    </td>

    <td>

      <%= a_photo.likes_count %> 
    </td>

    <td>

            <a href= "/photos/<%= a_photo.id %>">
Show Details
    </td>

  </tr>



<% end %>
</table>



